{% extends 'base.html' %}

{% block content %}
<h4>Друзі користувача {{target_user.get_profile.fullname}}:</h4>

{% if target_user == request.user %}
{% if friendship_requests.incoming%}
<ul class="shadowed"><h5>Пропозиції дружби:</h5>
{% for req in friendship_requests.incoming %}
<li>
<img class="halfsize" src="{% if req.from_user.get_profile.avatar %}
            {{ req.from_user.get_profile.avatar.url }}
            {% else %}
            {{ MEDIA_URL }}avatars/default.png
            {% endif %}
            " alt="avatar">
<a class="dynamic" href="{{ req.from_user.get_absolute_url }}">{{ req.from_user.get_profile.fullname }}</a>
{% if not req.accepted %}
<span class="technical">Не підтвержено</span>
{% endif %}
<a href="{% url friendship_accept req.from_user.username %}"><img src="{{MEDIA_URL}}img/icons/group_add.png"/>Прийняти</a>
<a href="{% url friendship_decline req.from_user.username %}"><img src="{{MEDIA_URL}}img/icons/group_delete.png"/>Відхилити</a>
</li>
{% endfor %}
</ul>
<hr/>
{% endif %}

{% if friendship_requests.outgoing%}
<ul class="shadowed"><h5>Ваші запити на дружбу:</h5>
{% for req in friendship_requests.outgoing %}
<li>
<img class="halfsize" src="{% if req.to_user.get_profile.avatar %}
            {{ req.to_user.get_profile.avatar.url }}
            {% else %}
            {{ MEDIA_URL }}avatars/default.png
            {% endif %}
            " alt="avatar">

 <a href="{{ req.to_user.get_absolute_url }}">{{ req.to_user.get_profile.fullname }}</a>
{% if not req.accepted %}
<span class="technical">Ще не прийнято</span>
{% endif %}
<a href="{% url friendship_cancel req.to_user.username %}"><img src="{{MEDIA_URL}}img/icons/group_delete.png"/>Скасувати</a>
</li>
{% endfor %}
</ul>
{% endif %}
<hr/>
{% endif %}
{% load pagination_tags %}
{% autopaginate friends_list %}
{% if friends_list %}
<ul class="userlist">
    {% for user in friends_list %}
            <li>
            <img src="{{ user.get_profile.small_avatar_url }}"  />
            <a class="dynamic" class="user" title="{{user.username}}" href="{{ user.get_absolute_url }}">{{ user.get_profile.fullname }}</a>
{% if target_user == request.user %}
<a class="right link" title="Вилучити з друзів" style="position:relative; top:-15px;" href="{% url friendship_delete user %}"><img src="{{MEDIA_URL}}img/icons/delete.png"></a>
{% endif %}
            </li>
    {% endfor %}
</ul>

{% paginate %}
{% else %}
<p> На жаль, нікого. </p>
{% endif %}
{% endblock %}
