{% extends 'base.html' %}
{% block title %}Вхід до сайту / {{ block.super }}{% endblock %}
{% block extrahead %} <meta content="no-cache" http-equiv="Cache-Control"> {% endblock %}
{% block content %}
<h4>Вхід</h4>
{% if user.is_authenticated %}
<p>Ви вже успішно авторизовані. <a href="/">На головну</a>.
{% else %}
{% if form.errors %}
<div class="errorlist">
<p>Логін або пароль що ви ввели — невірний. Будь-ласка спробуйте ще раз.</p>
</div>
{% endif %}

<form id="id_login" class="mform" method="post" action="{% url auth_login %}">{% csrf_token %}
<table>
<tr>
    <td><label for="id_username">Логін або E-Mail:</label></td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td><label for="id_password">Пароль:</label></td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="Увійти" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
<hr/>
<p><a href="{% url auth_password_reset %}">Відновити пароль</a> | <a href="{% url registration_register %}">Зареєструватися</a></p>
{% endif %}

{% endblock %}
