{% extends 'base.html' %}

{% block content %}
    <h4>Простий пошук мінусовок</h4>
    <p>
    <a href="{% url minus_search %}">Перейти до розширеного пошуку</a>
    </p>
    <hr/>

        {% if query %}
{% load pagination_tags %}

            {% for result in page.object_list %}
                <p><img src="{{MEDIA_URL}}img/rec.png"/>
                    {{result.object.author.name}} — <a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a> <span class="technical">( {{result.object.type.display_name}}, {% if result.object.filesize %}{{result.object.filesize|filesizeformat}}{% endif %} )</span>
                </p>
            {% empty %}
                <p>Нічого не знайшлось. Зовсім.</p>
            {% endfor %}

{% with page as page_obj %}
{% paginate %}
{% endwith %} 
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
{% endblock %}
