{% load comments %}
<h6>Написати коментар</h6>
<form id="comment_form" action="{% comment_form_target %}" method="post">{% csrf_token %}
<input type="hidden" name="next" value="{{request.path|urlencode}}" />

  {% for field in form %}
    {% if field.is_hidden %}
      {{ field }}
    {% else %}
      {% if field.errors %}
      <p class="error">
      {{ field.errors }}
      </p>
      {% endif %}
    {% endif %}
  {% endfor %}
    <textarea name="comment" id="id_comment" rows="3" cols="56"></textarea></p>

  <p class="submit">
    <input type="submit" name="post" class="submit-post" value="Додати коментар" />
  </p>
  </span>
</form>

