<div class="socials">
<a class="functional" rel="nofollow" target="_blank"  href="http://twitter.com/home/?status={{object.title}} - {{request.build_absolute_uri|urlencode}}"><img src="{{ MEDIA_URL }}img/socials/twitter.png"  alt="Додати в Twitter" /></a>

<a class="functional" rel="nofollow" target="blank" href="http://www.facebook.com/sharer.php?u={{request.build_absolute_uri|urlencode}}"><img src="{{MEDIA_URL}}img/socials/facebook.png"  title="Поділитися з друзями в FaceBook"></a>

<a class="functional" href="http://vkontakte.ru/share.php?url={{request.build_absolute_uri|urlencode}}" target="_blank" rel="nofollow"><img src="{{MEDIA_URL}}img/socials/vkontakte.png"title="Поділитися ВКонтакте"></a>

<a class="functional" href="http://www.google.com/reader/link?url={{request.build_absolute_uri|urlencode}}&title={{object.title}}&srcURL=http://minus.lviv.ua/" rel="nofollow" target="_blank"><img src="{{MEDIA_URL}}img/socials/google-buzz.png" title="Додати в Google Buzz"></a>

<a class="functional" target="_blank" rel="nofollow" href="http://www.livejournal.com/update.bml?event={{request.build_absolute_uri|urlencode}}&subject={{object.title}}" ><img src="{{MEDIA_URL}}img/socials/livejournal.png" title="Написати на livejournal.com"></a>

<a class="functional" target="_blank" rel="nofollow" href="http://my.ya.ru/posts_add_link.xml?title={{object.title}}&URL={{request.build_absolute_uri|urlencode}}"><img src="{{MEDIA_URL}}img/socials/yaru.png"  title="Поділитись посиланням на Я.ру" /></a>


</div>
