<ul class="vc_cat_list">
<div class="vc_cat_order">Упорядкувати за:</div>
 
{% if current_category.contest.status != 'open' %}
<li {% if order == 'rate'%} class="current"{% endif%}>
<a class="dynamic" href="{% url vocal_contest_filter current_category.id 'rate'%}">Рейтингом</a> 
</li>
{% endif %}
<li {% if order == 'date'%} class="current"{% endif%}>
<a class="dynamic" href="{% url vocal_contest_filter current_category.id 'date'%}">Датою додавання</a>
</li>
</ul>
<div class="clearfix">
{% if not request.user.is_authenticated %}
<div class="errorlist">Для голосування вам необхідно <a href="{% url auth_login%}">увійти</a> на сайт</div>
{% endif %}

</div>
{% load comments %}
{% load voting_tags %}
{% for object in object_list %}
{% if order == 'rate' and forloop.counter <= 3 %}
<div class="vocal_contest_participant vc_big shadowed">
<span class="order_counter">{{forloop.counter}}.</span>

<div class="vcp_main_info">
            <img class="vcp_img" src="
            {% if object.user.get_profile.avatar %}
            {{ object.user.get_profile.avatar.url }}
            {% else %}
            {{ MEDIA_URL }}avatars/default.png
            {% endif %}
            " alt="avatar" />
<h5 class="vcp"><a class="dynamic" href="{{object.user.get_profile.get_absolute_url}}">{{object.user.get_profile.fullname}}</a></h5>
<h6 class="vcp"><a class="dynamic" href={{object.get_absolute_url}}>{{object.title}}</a></h6>
<p>{{object.description}}</p>
<span class="vcp_player" id="audioplayer_{{forloop.counter}}">{{ minus.file.url }}</span>
<script type="text/javascript">
AudioPlayer.embed("audioplayer_{{forloop.counter}}", {soundFile:"http://{{request.get_host}}{{object.file.url|urlencode}}",titles: "{{object.title}}" }); 
</script>
</div>
<dl class="vcp_tech_info">
{% if request.user.is_staff or request.user == object.user %}
    <a class="delete_link" href="{% url vocal_contest_participant_delete object.id %}"><img src="{{MEDIA_URL}}img/icons/cancel.png" alt="видалити" title="видалити"/></a>
{% endif %}
<dt>Додано:</dt><dd>{{object.pub_date|date:"d.m.Y"}}</dd>
<dt><a class="dynamic" href="{{object.get_absolute_url}}">Коментарі:</a></dt><dd>{% get_comment_count for object as commentcount%}{{commentcount}}</dd>
{% if object.contest.status != 'open' %}
<dt>Рейтинг:</dt><dd>
{% score_for_object object as score %}
{% if object.contest.status == 'closed' and request.user.is_authenticated and request.user.get_profile.is_versed and request.user != object.user %}

    <span class="votes_count" id="score_{{object.id}}">{{score.score}}</span>
    {% vote_by_user request.user on object as vote %}
    {% if not vote %}
    <span class="vote_button" id="voteup_{{object.id}}"><a class="vote" href="#upvote" onclick="vote('{{object.id}}', 'upvote')">+1</a></span>
    {% else %}
    <span class="vote_button">+</span>
    {% endif %}
    {% else %}
    <span class="votes_count" id="score_{{object.id}}">{{score.score}}</span>
{% endif %}
</dd>
{% endif %}
</dl>
{% else %}
<div class="vocal_contest_participant vc_small shadowed">
{% if order == 'rate' %}<span class="order_counter">{{forloop.counter}}.</span>{% endif %}
<div class="vcp_short_info">
<h5 class="vcp"><a class="dynamic" class="user" title="{{object.user.username}}" href="{{object.user.get_profile.get_absolute_url}}">{{object.user.get_profile.fullname}}</a></h5>  
<h6 class="vcp">- <a class="dynamic" href={{object.get_absolute_url}}>{{object.title}}</a></h6>
<div class="clearfix"></div>
<span class="vcp_short_date"><span class="technical">Додано:</span> {{object.pub_date|date:"d.m.Y"}}</span>
<span class="vcp_player" id="audioplayer_{{forloop.counter}}">{{ minus.file.url }}</span>
<script type="text/javascript">
AudioPlayer.embed("audioplayer_{{forloop.counter}}", {soundFile:"http://{{request.get_host}}{{object.file.url|urlencode}}",titles: "{{object.title}}"  }); 
</script>
</div>
<div class="vcp_tech_info vcp_short_tech">
{% if request.user.is_staff or request.user == object.user %}
    <a class="delete_link" href="{% url vocal_contest_participant_delete object.id %}"><img src="{{MEDIA_URL}}img/icons/cancel.png" alt="видалити" title="видалити"/></a>
{% endif %}
{% if object.contest.status != 'open' %}
{% score_for_object object as score %}
<span class="technical">Рейтинг:</span>
{% if object.contest.status == 'closed' and request.user.is_authenticated and request.user.get_profile.is_versed and request.user != object.user %}

    <span class="votes_count" id="score_{{object.id}}">{{score.score}}</span>
    {% vote_by_user request.user on object as vote %}
    {% if not vote %}
    <span class="vote_button" id="voteup_{{object.id}}"><a class="vote" href="#upvote" onclick="vote('{{object.id}}', 'upvote')">+1</a></span>
    {% endif %}
{% else %}
    <span class="votes_count" id="score_{{object.id}}">{{score.score}}</span>
{% endif %}
{% endif %}

<a class="dynamic" class="technical" href="{{object.get_absolute_url}}"> &nbsp;Коментарі: {% get_comment_count for object as commentcount%}{{commentcount}}</a>

</div>
{% endif %}
</div>
<div class="shadow"></div>
{% endfor %}

