{% extends "admin/change_form.html" %}
{% load i18n admin_modify adminmedia %}

{% block content %}<div id="content-main">
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
<div>

{% for fieldset in adminform %}
<fieldset class="module aligned {{ fieldset.classes }}">
    {% if fieldset.name %}<h2>{{ fieldset.name }}</h2>{% endif %}
    {% if fieldset.description %}
        <div class="description">{{ fieldset.description|safe }}</div>
    {% endif %}
    {% for line in fieldset %}
        <div class="form-row{% if line.errors %} errors{% endif %}{% for field in line %} {{ field.field.name }}{% endfor %}">
            {{ line.errors }}
            {% for field in line %}
                <div{% if not line.fields|length_is:"1" %} class="field-box"{% endif %}>
                    {% if field.is_checkbox %}
                        {{ field.field }}{{ field.label_tag }}
                    {% else %}
                        {{ field.label_tag }}
                        {% if field.is_readonly %}
                            {% if field.field.name == 'user' %}
                                <a href="{{original.user.get_profile.get_absolute_url}}">{{field.contents}}</a>
                            {% else %}
                                {% if field.field.name == 'object_id' %}
                                    <a href="{{original.content_object.get_absolute_url}}">{{field.contents}}</a>
                                {% else %}
                                    {% if field.field.name == 'url' %}
                                        <a href="{{field.contents}}">{{field.contents}}</a>
                                    {% else %}
                                        {% if field.field.name == 'message' %}
                                            {{field.contents|striptags|urlize|linebreaks}}
                                        {% else %}
                                            <p>{{ field.contents }}</p>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% else %}
                            {{ field.field }}
                        {% endif %}
                    {% endif %}
                    {% if field.field.field.help_text %}
                        <p class="help">{{ field.field.field.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</fieldset>
{% endfor %}


{% submit_row %}

</div>
</form></div>
{% endblock %}
